# AI Lab Assignment – 1
### Course: Artificial Intelligence  
### Student: Noor Fatima  
### Roll No: 2024-csr-001  
### Date: 23 September 2025  
---

## Hello World

In [29]:
print("Hello World")

Hello World

## Task 1: Variables & Data Types  
In this task, I will demonstrate how to store and display **different data types** in Python:  
- **String** → stores text  
- **Integer** → stores whole numbers  
- **Float** → stores decimal values

In [16]:
# Store student Information
name="Ali"  # stores as string
roll_no=23  #stores as integer
cgpa=3.56  #stores as float
age=20
print("Name:",name)
print("Roll no:",roll_no)
print("CGPA:",cgpa)
print("Age:",age)

Name: Ali
Roll no: 23
CGPA: 3.56
Age: 20

## Task 2: Loops
In this task, I will use a **for loop** to display numbers from **1 to 10**.

In [5]:
# Print numbers 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### Even numbers
In this task, I will use a **for loop with an if-condition** to print only the even numbers between **1 and 10**.

In [19]:
for i in range(1,11):
    if(i%2==0): # prints only even numbers
        print(i)

2
4
6
8
10

## Task 3: Functions
In this task, I will define a **function** to calculate the factorial of a number using a **for loop**.  

- **Factorial Formula**:  
  \[
  n! = 1x2x3x4....x n
  \]  
- Example:  
  \[
  5! = 1 x 2 x 3 x 4 x 5 = 120
  \]

In [20]:
# function to calculate factorial
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result
print("Factorial of 5 is:",factorial(5))

Factorial of 5 is: 120

### For user Input

In [21]:
n=int(input("Enter a number:"))
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result
print("Factorial of 5 is:",factorial(n))

Enter a number: 5

Factorial of 5 is: 120

## Task 4: Student passes or fails

This program decides if a student **passes** or **fails** based on their marks.  

- If marks are **greater than or equal to 50 → Pass**  
- If marks are **less than 50 → Fail**

In [22]:
# Decides if a student passes or fails
marks=int(input("Enter your marks:"))
if marks>=50:
    print("Pass")
else:
    print("Fail")

Enter your marks: 69

Pass

### Grades
This program assigns a **grade** based on the student’s marks:  

- Marks **80 or above → A Grade**  
- Marks **60 to 79 → B Grade **  
- Marks **50 to 59 → C Grade **  
- Marks **Below 50 → Fail

In [26]:
marks=int(input("Enter your marks:"))
if marks>=80:
    print("A grade")
elif marks>=60:
    print("B grade")
elif marks>=50:
    print("C grade")
else:
    print("Fail")

Enter your marks: 45

Fail

---
## Conclusion
In this lab, I learned:
- How to declare and use different data types in Python  
- How to display outputs in a neat and formatted style  
- How to structure a Jupyter Notebook professionally